@{
    Layout = "_CnComputationLayout";
}

@{
    ViewData["Title"] = "ViewEditSelection1";
}
<link href="~/css/site.css" rel="stylesheet" />
@model MS4App.Models.CalculationViewModels.CnItemsCollections
@*@using (Html.BeginForm("CnComputationViewEditTemp", "CnComputation"))
    {*@

<form method="POST" class="form-group">
    <div class="col-md-9">
        <div>
            <table class="table table.striped">
                <thead>
                    <tr>
                       <th colspan="9">
                            <h4>Curve Number and Associated Areas</h4>
                            <p>CN Selection 1</p>
                        </th>
                    </tr>
                    <!--subcolumns of Curver Number and Associated Areas-->
                    <tr>
                        <th colspan="3">Cover Description</th>
                        <th colspan="1">A</th>
                        <th >Area</th>
                        <th >B</th>
                        <th >Area</th>
                        <th >C</th>
                        <th >Area</th>
                        <th >D</th>
                        <th >Area</th>
                        <th> </th>
                    </tr>
                </thead>

                @for (int i = 0; i < Model.Sel1CnItemsList.Count; i++)
                {
                    var item = Model.Sel1CnItemsList[i];
                    <tr>
                        <td colspan="3">@Html.DisplayFor(modelItem => item.CnItemDescription)</td>
                        <td ><div id="DA1">@Html.DisplayFor(modelItem => item.A)</div></td>
                        <td><input type="number" step="any" name=@Html.DisplayFor(modelItem => item.AArea) min="0"  value="0.0"></td>
                        <td><div id="DB1">@Html.DisplayFor(modelItem => item.B)</div></td>
                        <td><input type="number" step="any" name="@Html.DisplayFor(modelItem => item.BArea)" min="0"  value="0.0"></td>
                        <td><div id="DC1">@Html.DisplayFor(modelItem => item.C)</div></td>
                        <td><input type="number" step="any" name="@Html.DisplayFor(modelItem => item.CArea)" min="0"  value="0.0"></td>
                        <td><div id="DD1">@Html.DisplayFor(modelItem => item.D)</div></td>
                        <td><input type="number" step="any" name="@Html.DisplayFor(modelItem => item.DArea)" min="0"  value="0.0"></td>
                        <td><div id="outputP1"></div></td>
                    </tr>

                }


            </table>
        </div>

    </div>

    <div class="col-md-3">
        <br />

        <div>
            <input type="submit" class="btn btn-primary" name="disc_sel" value="Compute" style="height:35px; width:150px">
        </div>
        <br />
        <div>
            <a href="cn_preferences_edit" class="btn btn-primary" style="height:35px; width:150px">View / Edit prefs...</a>
        </div>
    </div>
</form>















